:root {
    --main-color: #106989;
    --ui-color: #333;
    --ui-highlight: #111;
    --code-background: hsl(30, 80%, 90%);

    --white: #f3f3f3;

    --ui-disabled: #999;
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    color: var(--ui-color);
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}


a:hover {
    text-decoration: underline;
}


label {
    display: block;
}

.toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: var(--ui-color);
    color: var(--white);
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 999;
    left: 50%;
    bottom: 30px;
}

.toast.active {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    padding: 0.4em;
    margin: 0 0 0.5em 0;
    box-sizing: border-box;

}

input[type="text"],
select {
   /* color: var(--ui-color);*/
    width: 40vw;
}

::placeholder {
    color: var(--ui-disabled);
    font-size: 1.5em;
}


input:disabled {
    color: var(--white);
}

input[type="range"] {
    height: 0;
}

button {
    color: var(--ui-color);
    outline: none;
}

button:disabled {
    color: var(--ui-disabled);
}

button:not(:disabled):active {
    background-color: var(--ui-disabled);
}

p {
    margin: 1px;
}

body {
    color: var(--white);
   /* background-color: var(--main-color);*/
}

ul img {
    border-radius: 6px;
    padding: 4px;
    float: left;
    width: 60px;
    height: 50px;
    margin-right: 3px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--ui-color);
    margin-bottom: 10px;
    ;
}

li {
    float: left;
}

li a {
    display: block;

    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    min-width: 40px;
    ;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: var(--ui-highlight);
}

a.active {
    background-color: var(--main-color)
}

pre {
    margin-left: 20px;
    white-space: pre-wrap;
    background: var(--code-background);
    padding: 20px;
    padding-right: 60px;
    display: inline-block;
    border-radius: 3px;
}

#endpoint {
    margin-top: 5px;
    margin-bottom: 5px;
}

#demoImage {
    width: 70px;
    height: 60px;
}



li.dropdown {
    display: inline-block;
}

.dropdown-content {
    background-color: var(--ui-color);
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


.dropdown:hover .dropdown-content {
    display: block;
}

a.skip {
    cursor: pointer;
}

div.uploads {
    margin: 2px;
    margin-bottom: 10px;
    padding: 10px;
    max-width: 300px;
    border: 2px black solid;
    border-radius: 4px;
}