<%- include('head', {});%>

<body>
  <%- include('navbar', {user});%>
  <input type="text" id="search" placeholder="Search..." /><br>
  <label for="colorize">Colorize json (will not make clickable links)</label><br>
  <input type="checkbox" name="colorize" id="colorize" /><br>
  <button onClick="getData()" id="searchBtn">Search</button>
  <br /><br />
  <div id="code"></div>

  <script src="./scripts/getfile.js"></script>
</body>
