<%- include('head', {});%>
<body>
  <%- include('navbar', {user});%>

  Hello this is work in progress, but please try to log in upload something,
  then see if you can find it on the /get page
</body>
