<ul id="navbar">
  <li><img src="/logo.png" alt=""></li>
  <li><a href="/">Home</a></li>
  <li><a href="/get">Get</a></li>
  <%if(user?.permissions?.includes('upload')){%>
  <li><a href="/upload">Upload</a></li>
  <%}%> <%if(user == undefined){%>
  <li><a href="/auth/discord">Login</a></li>
  <%} else {%>
  <li><a href="/auth/logout">Logout</a></li>
  <%} %>
  <!--<li><a href="/account">Account</a></li>-->
</ul>
